@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 300vh;
}

.site-nav{
    position: absolute;
    top: 0;
    z-index: 50;
}

.navbar-toggler:focus{
    outline: none;
}

.nav-link.current-section{
    border-bottom: 2px solid white !important;
}

.site-nav-scroll{
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 0 5px #00000020;
    animation: toShow 0.5s linear !important;
}

.site-nav-scroll .nav-link.current-section{
    border-bottom: 2px solid #1A129F !important;
}

@keyframes toShow {
    from{

        transform: translateY(-200px);

    }to{

        transform: translateY(0);

         }
}

.site-nav-scroll .nav-link{
    color: #1A129F !important;
}

.site-nav-scroll .menu-icon{
    color: #1A129F !important;
}

.site-logo{
    width: 150px;
}

.home{
    background-image: url("../img/bg-shape.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;
    position: relative;
}

.scroll-to-next{
    position: absolute;
    bottom: 50px;
    width: 50px;
    height: 50px;
    /*border: 2px solid black;*/
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    margin: auto;
}

.social-v{
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-v a{
    transition: 0.5s;
}

.social-v a:hover{
    transform: scale(1.5);
    text-decoration: none;
}

.social-v i{
    display: block;
    margin-bottom: 13px;
}

.social-icon a{
    transition: 0.5s;
}

.social-icon a:hover{
    transform: scale(1.5);
}

.about{
    background-color: #7E76F910;
}

.text-about{
    background-image: url("../img/bg-2.svg");
    background-size: 100%;
    background-position: center;
}

.services{
    background-image: url("../img/bg-3.svg");
    background-size: 100%;
    background-position: center;
}

.service-card{
    border-radius: 30px !important;
    border: none !important;
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.05) !important;
    transition: 0.5s;
}

.service-card:hover{
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.15) !important;
    transform: scale(0.98);
}

.service-card img{
    transition: 0.5s;
}

.service-card:hover img{
    transform: translateX(15px);

}

.service-card-des{
    height: 180px;
}

.pricing{
    background-color: #7E76F915;
}

.slick-dots{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-dots li{
    width: 10px !important;
    height: 10px !important;
    border: 2px solid var(--secondary);
    border-radius: 50%;
    background-color: transparent;
}

.slick-dots li.slick-active{
    width: 15px !important;
    height: 15px !important;
    background-color: var(--secondary);
}

.contact{
    background-image: url("../img/footer-2.svg"),url("../img/footer-1.svg");
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: bottom;
    background-attachment: fixed;
}

.footer{
    padding-top: 150px;
}

.ani-delay-1{
    animation-delay: 0.3s;
}
.ani-delay-2{
    animation-delay: 0.6s;
}
.ani-delay-3{
    animation-delay: 0.9s;
}
.ani-delay-4{
    animation-delay: 1.2s;
}
.ani-delay-5{
    animation-delay: 1.5s;
}

@media screen and (max-width: 780px) {
    .site-nav{
        background-color: #ffffffee;
        box-shadow: 0 0 5px #00000015;
        backdrop-filter: blur(5px);
    }

    .navbar-nav{
        margin-top: 20px;
    }

    .site-nav .nav-link{
        color: #1A129F !important;
        padding: 15px 20px;
        margin-bottom: 20px;
        background-color: #ffffff;
        box-shadow: 0 0 5px #00000020;
        border-radius: 10em;
    }

    .site-nav .menu-icon{
        color: #1A129F !important;
    }

    .nav-link.current-section{
        border: 2px solid #1A129F !important;
    }

    .contact{
        background-size: auto 70%;
    }

}

@media screen and (max-width: 576px) {
    .content-1,.content-1-text{
        width: 100% !important;
    }

    .contact{
        background-attachment: scroll;
        background-position: center bottom;
        background-size: auto 80%;
    }

    .site-nav{
        background-color: #ffffffee;
        box-shadow: 0 0 5px #00000015;
        backdrop-filter: blur(5px);
    }

    .navbar-nav{
        margin-top: 20px;
    }

    .site-nav .nav-link{
        color: #1A129F !important;
        padding: 15px 20px;
        margin-bottom: 20px;
        background-color: #ffffff;
        box-shadow: 0 0 5px #00000020;
        border-radius: 10em;
    }

    .site-nav .menu-icon{
        color: #1A129F !important;
    }

    .scroll-to-next{
        bottom: 20px;
    }
    .social-v{
        bottom: 20px;
        left: 30px;
    }
}


